modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[env]
PORT = "3000"

[replit]
preview = false

[[ports]]
localPort = 3000

[workflows]
runButton = "Rodar o Magia"

[[workflows.workflow]]
name = "Rodar o Magia"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
