modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run M.A.G.I.A."

[[workflows.workflow]]
name = "Run M.A.G.I.A."
author = 29061746
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5000 --hostname 0.0.0.0"

[env]
PORT = "5000"